
.MuiGridListTile-root {
    height: 25vh !important;
}

#Image5, #Image6, #Image7, #Image8 {
    height: 380px !important;
}

#iframe1, #iframe2, #iframe3, #iframe4 {
    height: 315px !important;
    width: 560px !important;
}

#component1, #component2, #component3, #component4 {
    height: 315px !important;
    width: 560px !important;
    
} 

