
/* .MuiGridListTile-root {
    height: auto !important;
   
} */

#Image5, #Image6, #Image7, #Image8 {
    height: 380px !important;
}

#iframe1, #iframe2, #iframe3, #iframe4 {
    height: 315px !important;
    width: 560px !important;
}

#component1, #component2, #component3, #component4 {
    height: 315px !important;
    width: 560px !important;
    
} 

#gridList {
    margin-top: 250px !important;
    transform: scale(1.4);
}

#John {
    height: 320px !important;
}

@media (min-width: 1441px) {

    #slider-query {
        transform: scale(.8);
    }


}