
.MuiGridListTile-root {
    height: 25vh !important;
}

#Image5, #Image6, #Image7, #Image8 {
    height: 380px !important;
}

#Image9, #Image10, #Image11, #Image12 {
    height: 400px !important;
}

#Image17, #Image18, #Image19, #Image20 {
    height: 315px !important;
    width: 560px !important;
    
} 

