

#Image5, #Image6, #Image7, #Image8 {
    height: 380px !important;
}

#iframe1, #iframe2, #iframe3, #iframe4 {
    height: 315px !important;
    width: 25vw !important;
}

#component1, #component2, #component3, #component4 {
    height: 315px !important;
    width: 25vw !important;
    
} 

#gridList {
    margin-top: 250px !important;
    transform: scale(1.4);
}

#John {
    height: 320px !important;
}

iframe {
    width: 25vw !important;
}


@media (min-width: 1441px) {
.MuiGridListTile-root {
    height: 300px !important;
} 
}

