body {
    font-family: 'Gotham SSm A','Gotham SSm B',sans-serif !important;
    font-style: normal !important;
    font-size: 14px !important;
}

#myNav {
   z-index: 1;
   position: fixed;
   top: 0px;
   width: 100vw;
   height: 150px;
   margin: 0px;
   
}

.thick-nav {
    height: 400px !important;
}

@media(max-width: 769px) {
    .music-man-logo {
        transform: scale(.6) !important;
    }
}