 .artist-page-container {
    width: 100vw;
    margin: 0px; 
    padding: 0px;
    overflow: hidden;
} 

#artist-page-grid {
    margin-top: 150px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
}   

#jasonvid, #johnvid {
    display: block !important;
    margin: 0 auto !important;
    transform: scale(1.2) !important;
    margin-top: 50px;
}

   #jason-richardson {
    width: 100vw;
    height: 720px;
}   


  #bio {
    text-align: center;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 100vw;

} 

.bio-text {
    text-align: center;
    margin-top: 50px;
    padding-left: 25%;
    padding-right: 25%;
} 


#guitar-img {
    transform: scale(.8);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}



#model-header {
    margin-bottom: 50px;
}

#Jason{
    height: 320px !important;
}  