#artist-page-grid {
    margin-top: 150px;
}

#jason-richardson {
    width: 100%;
    height: 720px;
}

#bio {
    text-align: center;
    
} 

.bio-text {
    margin-left:  25%;
    margin-right: 25%;
}

#guitar-img {
    transform: scale(.9)
}

